body{
    margin:0;
    font-family:'Inter', sans-serif;
    background:#f5f5f5;
    display:flex;
    flex-direction:column;
    align-items:center;
}

h1{
    width:100%;
    text-align:center;
    font-family:'Archivo Black', sans-serif;
    font-size:64px;
    margin:30px 0;
}


#app{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/
.scene{
    width:100%;
    display:flex;
    justify-content:center;
}


.card{
    width:1050px;   /* MÁS GRANDE */
    height:620px;   /* MÁS GRANDE */

    position:relative;
    transform-style:preserve-3d;
    transition:transform 0.8s;

    border-radius:16px;
    box-shadow:0 30px 80px rgba(0,0,0,0.25);

    cursor:pointer;
}

/* RESPONSIVE */
@media(max-width:1100px){
    .card{
        width:92vw;
        height:60vh;
    }
}


.front, .back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    display:flex;
    border-radius:16px;
    overflow:hidden;
}


.front img{
    width:65%;
    height:100%;
    object-fit:cover;
}

.front h2{
    width:35%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:32px;
}

/* BACK */
.back{
    transform:rotateY(180deg);
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:50px;
    text-align:center;
    font-size:18px;
}


.buttons{
    margin-top:25px;
}

button{
    width:140px;
    height:50px;

    margin:10px;

    background:#111;
    color:white;
    border:none;

    cursor:pointer;

   
    box-shadow:0 6px 0 #000;

    transition:0.15s;
}


button:active{
    transform:translateY(4px);
    box-shadow:0 2px 0 #000;
}


button.clicked{
    background:#333;
}


#gallery{
    display:none;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:25px;
    padding:50px;
}


.small{
    width:320px;
    height:220px;

    border-radius:12px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
}