body{
    margin:0;
    font-family:'Baloo 2', sans-serif;
    background:#f3f4f6;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

    min-height:100vh;
}

/* TITULO GRANDE */
h1{
    font-family:'Archivo Black', sans-serif;
    font-size:64px;
    margin:40px 0 10px 0;
    text-align:center;
}

/* APP CENTRADA REAL */
#app{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:20px;
}

/* POSTAL GRANDE REAL */
.card{
    width:900px;
    height:500px;

    position:relative;
    transform-style:preserve-3d;
    transition:transform 0.8s;

    border-radius:14px;
    box-shadow:0 30px 70px rgba(0,0,0,0.25);
    cursor:pointer;
}

/* FLIP */
.card.flipped{
    transform:rotateY(180deg);
}

/* CARAS */
.face{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;

    border-radius:14px;
    overflow:hidden;
    display:flex;
}

/* FRONT */
.front{
    background:white;
}

/* imagen grande */
.imgBox{
    width:60%;
}

.imgBox img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* texto lado */
.titleBox{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    font-weight:bold;
    padding:20px;
}

/* BACK */
.back{
    transform:rotateY(180deg);
    background:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px;
    text-align:center;
    font-size:18px;
    line-height:1.5;
}

/* BOTONES 2D (IMPORTANTE) */
.buttons{
    margin-top:25px;
}

button{
    width:70px;
    height:45px;

    margin:10px;

    background:#111;
    color:white;
    border:none;

    cursor:pointer;

    box-shadow:0 5px 0 #000;
    transition:0.2s;
}

/* click 2D real */
button:active{
    transform:translateY(4px);
    box-shadow:0 1px 0 #000;
}