body{
    margin:0;
    font-family:'Baloo 2', sans-serif;
    transition:background 1s ease;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* TÍTULO CENTRADO */
h1{
    font-family:'Archivo Black', sans-serif;
    font-size:60px;
    margin:30px 0;
    text-align:center;
}

/* ESCENA */
.scene{
    perspective:1200px;
}

/* POSTAL */
.card{
    width:800px;
    height:420px;
    position:relative;
    transform-style:preserve-3d;
    transition:transform 0.8s;

    border:2px dashed #bbb;
    border-radius:12px;

    box-shadow:0 25px 60px rgba(0,0,0,0.2);
    cursor:pointer;
}

/* FLIP */
.card.flipped{
    transform:rotateY(180deg);
}

/* CARAS */
.face{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    display:flex;
    border-radius:12px;
    overflow:hidden;
}

/* FRONT postal real */
.front{
    background:white;
}

/* foto lado */
.photoSide{
    width:50%;
}

.photoSide img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* texto lado */
.textSide{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    font-weight:bold;
}

/* BACK */
.back{
    transform:rotateY(180deg);
    background:white;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:30px;
    text-align:center;
}

/* BOTONES */
.buttons{
    margin-top:20px;
}

button{
    width:50px;
    height:50px;
    margin:10px;
    border:none;
    background:#111;
    color:white;
    font-size:20px;
    cursor:pointer;
}

/* click color */
button:active{
    background:#444;
}

/* GALLERY FINAL */
.hidden{
    display:none;
}

#gallery{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:20px;
}

.smallCard{
    width:180px;
    height:120px;
    background:white;
    border:1px solid #ccc;
}